body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    border: 1.5px solid #5f9341;
}

button {
    color: white;
    background: #5f9341;
    font-weight: bold;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}