body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    border: 1.5px solid #5f9341;
}

button {
    color: white;
    background: #5f9341;
    font-weight: bold;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}


/* STYLE THE LIST ACCORDING TO THE DESIGN */
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}